// Variáveis para personalização de cores
$primary-color: #2f2f2f;

// Reset e configuração global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color
}