/* cores nos icons */

.email-icon {
    color: #D44638; /* Cor vermelha para o ícone de e-mail */
  }

  .whatsapp-icon {
    color: #25D366; /* Cor verde para o ícone de telefone */
  }

  .address-icon {
    color: #ff6347; /* Cor tomate para o ícone de endereço */
  }

.instagram-icon {
  color: #e4405f; /* Cor rosa do Instagram */
}

.github-icon {
  color: #c4c4c4; /* Cor azul do Twitter */
}

.linkedin-icon {
  color: #0077b5; /* Cor azul do LinkedIn */
}